html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #3e3947;
  background-color: white;
}

body, html {
  height: 100%;
}

a {
  color: #3e3947;
  text-decoration: none;
}

img {
  max-width: 100%;
}
/**************************************/

.section{
    min-height:100%;
    position:relative;
    padding:2em 0;
}
.section:nth-of-type(odd){
    background-color:#3e3947;
}
.section:nth-of-type(even){
    background-color:#745360;
}
.section:nth-of-type(odd) p{
    color: #898099;
}
.section:nth-of-type(even) p{
    color: #bda3ad;
}
.section h1,.section p{
    position:absolute;
    left:50%;
    top:50%;
    right:auto;
    bottom:auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
}
.section h1{
    color:white;
    font-weight:300;
    text-transform:uppercase;
    font-size:20px;
    font-size:1.25rem;
}
.section p{
    line-height: 1.6;
}
@media only screen and (min-width:768px){
    .section h1{
        font-size:30px;
        font-size:1.875rem;
    }
    .section p{
        font-size:20px;
        font-size:1.25rem;
        line-height:2;
    }
}
.scroll_down{
    position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}
.nav_trig{
    display:none;
}
#navigation{
    position:fixed;
    right:40px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index:1;
}
#navigation li{
    text-align:right;
}
#navigation a{
    display:inline-block;
}
#navigation a:after{
    content="";
    display:table;
    clear:both;
}
#navigation a span{
    float:right;
    display:inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}
#navigation a:hover span{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#navigation a:hover .label{
    opacity:1;
}
#navigation a.is-selected .dot{
    background-color:white;
}
#navigation a.is-selected .label{
    opacity:1;
}
#navigation .dot{
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: rgba(168,168,168, 0.6);
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#navigation .label{
  margin-top: 30px;
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: #A8A8A8;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}




@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  rgba(120,120,120, 0.8);
  font-size: 0.875em;
  transition: color 1s;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  rgba(120,120,120, 0.8);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  rgba(120,120,120, 0.8);
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  rgba(120,120,120, 0.8);
}

input::placeholder, textarea::placeholder {
  rgba(120,120,120, 0.8);
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  rgba(120,120,120, 0.8);
}

input::-ms-placeholder, textarea::-ms-placeholder {
  rgba(120,120,120, 0.8);
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  rgba(120,120,120, 0.8);
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  rgba(120,120,120, 0.8);
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
}


#form {
  position: relative;
  width: 19%;
  margin-top: 2%;
  margin-left: 40%;
  margin-right: auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.675em;
  /*width: 220px;*/
  width: 100%;
  height: 40px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  rgba(120,120,120, 0.8);

  border-width: 1px;
  border-style: solid;
  border-color: rgba(168,168,168, 0.2);
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: rgba(168,168,168, 0.1);
  color: black;
}

textarea {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 15px;

  background: transparent;
  outline: none;

  color: rgba(120,120,120, 0.8);
  font-family: 'Lato', sans-serif;
  font-size: 0.675em;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(168,168,168, 0.2);

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: rgba(168,168,168, 0.1);
  color: black;
}

#submit {
  width: 100%;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: rgba(120,120,120, 0.8);

  outline:none;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(168,168,168, 0.2);
  border-top: none;
  transition: color 1s;
}

#submit:hover {
  color: black;
}



#leftNav {
  width: 400px;
  border-top: 1px;
  border-style: solid;
  position: fixed;
  z-index: 999;
  margin-top: 35%;
  margin-left: -140px;
  color: rgba(125, 125,125, 0.5);
  transform: rotateZ(90deg);
}

#digitalPortfolio {
  transform: rotateZ(180deg);
  font-size: 12px;
  color: rgba(125, 125,125, 1);
  margin-top: -25px;
}

#musicButton{
  transform: rotateZ(180deg);
  width: 6.5%;
  margin-top: 3px;
  opacity: 0.6;
}
#musicButton:hover {
  cursor: pointer;
}



#containerProjects {
  background-size: 100%;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-color: white;
  top: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  height: 100vh;
}

#containerProjects2 {
  background-image: url("../media/bg_projects.png");
  background-size: 100%;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-color: white;
  top: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

#home, #projects, #about, #contact {
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  height: 100vh;
}

#home {
  background-image: url("../media/bg_dark2.png");
  background-size: 100%;
  margin-bottom: 0;
}


#overlay1 {
  width: 100%;
	height: 100%;
  mix-blend-mode: soft-light;
}

#overlay2 {
  width: 100%;
  mix-blend-mode: overlay;
  z-index: -100;
}

#projects {
  background-image: url("../media/bg_light2.png");
  background-size: 100%;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-color: white;
  overflow-y: hidden;
}

#about {
  background-image: url("../media/bg_dark2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 0;
  height: 100%;
  z-index: -20;
  background-color: black;
}

#contact {
  background-color: white;
  background-image: url("../media/contactbg2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  overflow-y: hidden;
}


#logo1 {
  position: absolute;
  width: 36%;
  z-index: 100;
  margin-top: -37%;
  margin-left: 28%;
}
#logo2 {
  position: absolute;
  width: 10%;
  z-index: 100;
  margin-top: -55%;
  margin-left: 41%;
  filter: brightness(10%);
}

#logo3 {
  position: absolute;
  width: 35%;
  z-index: 100;
  margin-top: -43%;
  margin-left: 46%;
}

#logo4 {
  width: 10%;
  z-index: 150;
  filter: brightness(10%);
  margin-left: 44%;
  margin-top: 3%;
}

#button1 {
  position: absolute;
  margin-top: -28%;
  margin-left: 41%;
  background-color: rgba(34, 139, 34, 0.1);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: background-color 1s;
}
#button1:hover {
  background-color: rgba(34, 139, 34, 0.2);
}

#projects_h1 {
  margin-top: -51%;
  margin-left: 35%;
  font-size: 3em;
  letter-spacing: 13px;
  font-family: 'GFS Didot', serif;
  font-weight: lighter;
  color: #3A6629;
}

#motion {
  width: 18.7%;
}

#still {
  width: 22%;
  margin-left: 24%;
  margin-right: 8%;
  margin-top: 3%;
  position: static;
}

#sofia {
  width: 87%;
  position: absolute;
  margin-top: -49%;
  z-index: 0;
}

#info {
  width: 40%;
  position: absolute;
  text-align: center;
  margin-top: -30%;
  color: white;
  font-size: 0.7em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-left: 44%;
  line-height: 29px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  padding: 30px;
}

#contact_h1 {
  margin-left: 40%;
  padding-top: 11%;
  font-size: 2.4vw;
  letter-spacing: 13px;
  font-family: 'GFS Didot', serif;
  font-weight: lighter;
  color: #3A6629;
  position: relative;
}

#contact_img {
  width: 40%;
  position: absolute;
  margin-left: 26%;
  margin-top: -3%;
  mix-blend-mode: multiply;

}

#overlay2_contact {
  position: absolute;
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 0.6;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -60px;
  border-radius: 3px 0 0 3px;
}

.prev {
  margin-left: -60px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(211,211,211,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#work_h1 {
  margin-top: -48%;
  margin-left: 25%;
  font-size: 3em;
  letter-spacing: 13px;
  font-family: 'GFS Didot', serif;
  font-weight: lighter;
  color: #3A6629;
}

#motion_h1 {
  margin-top: -51%;
  margin-left: 30%;
  font-size: 3em;
  letter-spacing: 13px;
  font-family: 'GFS Didot', serif;
  font-weight: lighter;
  color: #0d342b;
  opacity: 0.6;
}

#reel {
  text-align: center;
  margin-bottom: 2%;
  margin-top: -2%;
  font-family: 'GFS Didot', serif;
  font-weight: lighter;
  color: #0d342b;
  letter-spacing: 2px;
}

.project {
  top: 0px;
  width: 100%;
  height: 100%;
  height: 85vh;
  position:relative;
  background-image: url("../media/bg_projects.png");
  background-size: 100%;
}

#still1 {
  height: 85vh;
}
#still2 {
  height: 80vh;
}
#still3 {
  /*background-color: blue;*/
  height: 110vh;
}
#still4 {
  background-color: white;
  height: 80vh;
}

.work_container {
  width: 85%;
  /*background-color: pink;*/
  position: absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:85%;
  max-height:82%;
  overflow:hidden;
}

.work_h1 {
  font-size: 3em;
  letter-spacing: 13px;
  font-family: 'GFS Didot', serif;
  font-weight: lighter;
  color: #3A6629;
  text-align: center;
}

.flex_container {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

#square {
  width: 29%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  position: absolute;
}

#rect {
  width: 43%;
  margin-bottom: 2%;
  position: absolute;
  margin-left: 2%;
}

#rect2 {
  width: 35%;
  margin-bottom: 2%;
  position: absolute;
}

#rect3 {
  width: 60%;
  margin-bottom: 2%;
  margin-left: 19%;
  margin-top: 6%;
  position: absolute;
}

.desc {
  text-align: center;
  margin-top: 2%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
}

#branding {
  margin-left: 13%;
}





.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}


#link {
  z-index: 999;
}
