
//SHARING PAGE STYLES


#title_share{
  margin-top: 8%;
}

#motivation_text {
  width: 70%;
  text-align: center;
  margin-left: 14%;
  margin-top: 10%;
  font-size: 30px;
  line-height: 50px;
}

.motivation_tree {
  margin-left: 20%;
  margin-top: -25%;
}
