//Styles for iCarbon site

//imported font
@font-face {
    font-family: ailerons;
    src: url("../fonts/ailerons.otf");
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'open sans', sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.heading,
p,
ul {
  margin: 0 0 10px;
}
.heading {
  font-weight: normal;
}
h1,
.h1 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 2em;
}
h2,
.h2 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 1.3em;
}
h3,
.h3 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 1.2em;
}
h4,
.h4 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 1em;
}
h5,
.h5 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 0.9em;
}
strong {
  font-weight: bold;
}
small {
  font-size: 0.85em;
}
a {
  color: $dark-green;
  font-family: lato;
  text-decoration: none;
}
hr {
  clear: both;
  height: 1px;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 10px;
}

body {
  background: #fff;
}
.wrapper,
.environment,
.scene,
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  position: fixed;
  z-index: 10;
}
.environment {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(700px);
  -moz-transform: perspective(700px);
  -o-transform: perspective(700px);
  transform: perspective(700px);
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  -o-perspective: 700px;
  perspective: 700px;
  -webkit-perspective-origin: center center;
  -moz-perspective-origin: center center;
  -ms-perspective-origin: center center;
  -o-perspective-origin: center center;
  perspective-origin: center center;
}
.scene {
  top: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.scene__depth {
  position: relative;
  z-index: 0;
}

.layer {
  position: absolute;
}


.page1_bg {
  height: 110%;
  z-index: -10;
}

.mockup {
  position: absolute;
  width: 30%;
  margin-left: 17%;
  margin-right: 53%;
  margin-top: 5%;
  z-index: 1000;
}

.overlay {
  width: 100%;
  height: 100%;
  margin-left: 50%;
  margin-top: 5%;
  position: absolute;
  z-index: 0;
}

#layer1 {
  &__textContainer {
    background-color: white;
    mix-blend-mode: lighten;
    position: absolute;
    z-index: 10;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 250px;
    padding-bottom: 270px;
    margin-left: 40%;
    margin-top: -3%;
    text-align: right;
    &--h2 {
      font-family: lato;
      font-size: 2.5em;
      color: black;
      font-weight: 300;
      margin-bottom: 0px;
      margin-left: 49%;
      z-index: 10;
    }
    &--h1 {
      font-size: 8vw;
      font-family: ailerons;
      font-weight: lighter;
      letter-spacing: 6px;
      color: black;
      text-align: right;
      z-index: 10;
    }
    &--p {
      font-family: lato;
      font-weight: 300;
      font-size: 1.5em;
      color: black;
      z-index: 10;
    }
    &--button1 {
      background-color: rgba(25, 77, 51,0.2);
      color: $dark-green;
      width: 38%;
      padding: 12px;
      /*margin-left: 69%;*/
      margin-top: 3%;
      font-size: 1.2em;
      font-family: ailerons;
      font-weight: 300;
      border: none;
      text-decoration: none;
      display: inline-block;
      transition: background-color 1s;
    }
    &--button1:hover {
      background-color: rgba(25, 77, 51,0.4);
    }
  }
}

#layer2 img {
  margin-left: 59%;
  margin-top: 20%;
  width: 10%;
}

#layer3 {
  &__img {
    height: 150%;
    width: 150%;
    margin-top: -36%;
    margin-left: -25%;
  }
  &__h1 {
    font-size: 9em;
    margin-left: -5%;
    margin-bottom: 0px;
    font-family: ailerons;
    font-weight: lighter;
    letter-spacing: 6px;
    color: rgba(25, 77, 51,0.3);
  }
  &__h2 {
    font-family: lato;
    font-size: 2em;
    color: black;
    font-weight: 300;
    margin-left: -4%;
    margin-top: 0px;
    width: 60%;
  }
  &__p {
    font-family: lato;
    font-weight: 300;
    font-size: 1.4em;
    color: black;
    margin-left: -4%;
    width: 60%;
  }
}

#layer4 img {
  height: 205%;
  width: 200%;
  margin-top: -34%;
  margin-left: -45%;
}

#layer5 img {
  width: 30%;
  margin-top: 24%;
  margin-left: 15%;
  position: fixed;
}

#layer6 {
  &__textContainer {
    position: absolute;
    z-index: 10;
    text-align: right;
    width: 65%;
    margin-left: 55%;
    margin-top: 15%;
  }
  &__h1 {
    font-size: 8.5vw;
    font-family: ailerons;
    font-weight: lighter;
    letter-spacing: 6px;
    color: black;
    z-index: 100;
  }

  &__h2 {
    font-family: lato;
    font-size: 2.5em;
    color: black;
    font-weight: 300;
    z-index: 100;
    margin-bottom: 2%;
  }

  &__p {
    font-family: lato;
    font-weight: 300;
    font-size: 1.6em;
    color: black;
    text-align: right;
    z-index: 10;
  }
}

#layer7 {
  &__bg {
    height: 245%;
    width: 240%;
    margin-top: -37%;
    margin-left: -70%;
  }
  &__white_overlay {
    position: absolute;
    width: 150%;
    height: 250%;
    margin-left: 25%;
    margin-top: -38%;
  }
}


#layer8  {
  background-color: white;
  &__overlay {
    position: absolute;
    height: 10%;
    width: 100%;
    margin-left: 30%;
    margin-top: 7%;
    mix-blend-mode: screen;
    filter: brightness(120%);
  }
  &__h1 {
    font-family: ailerons;
    color: black;
    font-size: 5em;
    width: 100%;
    z-index: 1000;
    margin-top: 7%;
    margin-bottom: 3%;
    text-align: center;
  }
  &__link {
  }
  &__mockup {
    position: relative;
    width: 17%;
    left: 1%;
    filter: brightness(120%);
  }

  &__leftInfo {
    float: left;
    margin-top:2%;
    background-color: rgba(190, 204, 169,0.3);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    color: black;
    width: 30%;
    margin-left: 10%;
    overflow-y: hidden;
    &--p {
      font-weight: 300;
      font-size: 1vw;
    }
    &--h3 {
      font-weight: 400;
      color: #0d4d01;
      font-size: 1.2em;
    }
  }
  &__rightInfo {
    float: right;
    background-color: rgba(190, 204, 169,0.3);
    width: 30%;
    margin-right: 10%;
    margin-top:2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 3%;
    color: black;

    &--ul {
      font-weight: 300;
      font-size: 0.9em;

      &__li {
        color: #0d4d01;
        font-weight: 400;
        font-size: 1vw;
      }
    }
  }
  &__button2 {
    background-color:rgba(0, 88, 38,0.2);
    width: 15%;
    padding: 10px;
    font-size: 1.2em;
    font-family: ailerons;
    font-weight: 300;
    border: none;
    text-decoration: none;
    transition: background-color 1s;
    z-index: 999;
  }
  &__button2:hover {
    background-color: rgba(0, 88, 38,0.4);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
}
.menu {
  display: inline-block;
  margin: 0 auto;
}
.menu__item {
  display: block;
  float: left;
  text-decoration: none;
  padding: 10px;
  transition: color 1s;
}
.menu__item:hover,
.menu__item.menu__item--active {
  color: $light-green;
}

@media only screen and (max-width: 1100px) {
  .mockup {
    margin-top: 13%;
  }
}

@media only screen and (max-width: 1300px) {
  #layer6 {
    &__textContainer {
      width: 70%;
      margin-left: 55%;
      margin-top: 15%;
    }
  }
}
