//CHALLENGE PAGE STYLES

#challenge1, #challenge2, #challenge3 {
  margin-top: 5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#challenge1 {
  background-image: url("../images/coffee_challenge.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30%;
  padding-bottom: 23%;
}

#challenge2 {
  height: 30%;
  background-image: url("../images/bike_challenge2.png");
  background-size: 120%;
  background-repeat: no-repeat;

}

#challenge3 {
  background-image: url("../images/netflix_challenge3.png");
  background-size: 120%;
  height: 30%;
  background-repeat: no-repeat;

}

.limited_text, .challenge_text {
  letter-spacing: 5px;
  color: $dark-gray;
}

.limited_text {
  margin-top: 3%;
  margin-left: 2%;
  font-size: 2.5vw;
}

.challenge_text {
  font-size: 2.5vw;
  margin-left: 2%;
  color: $dark-gray-text;
}

.col-xs-12__h5 {
  font-size: 3vw;
  margin-left: 2%;
  color: $dark-gray;
  margin-top: 20%;
  font-weight: bold;
  letter-spacing: 7px;
}
