//styles for the header in the iCarbon app

#row_header {
  background-color: $extra_light-gray;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1%;
}

.col-xs-6 {
  &__h1 {
    font-size: 5vw;
    font-weight: 300;
    text-align: center;
    margin-bottom: 7%;
  }
}
