//styles for the header in the iCarbon app

#row_header {
  background-color: $extra_light-gray;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.col-xs-6 {
  &__h1 {
    font-size: 6.5vw;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 7%;
  }
}
