//HISTORY PAGE STYLES

.col-xs-6__h1 {
  text-align: center;
}


.row.history_rows {
  margin-left: 13%;
  margin-bottom: 4%;
}

.lead.history_lead {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0%;
  font-weight: 500;
}

.header_text {
  font-size: 1.3em;
  color: $dark_gray_text;
}

.header_text.jan {
  margin-left: -50%;
}


#nov_icon_left {
  width: 200%;
  margin-left: 30%;
}

#nov_icon_right {
  width: 200%;
  margin-left: 30%;
}


.col-xs-1.history {
  margin-top: 5%;
  padding: 0;
}

.randomTree {
  margin-left: -30%;
}
