//HISTORY PAGE STYLES

.row.history_rows {
  margin-left: 13%;
  margin-bottom: 4%;
}

.lead.history_lead {
  font-size: 2em;
  text-align: center;
  margin-left: -17%;
  margin-bottom: 0%;
  font-weight: 500;
}

.header_text {
  font-size: 2.5em;
  color: $dark_gray_text;
}


#blue_arrow_icon_right {
  transform: rotate(180deg);
}

#blue_arrow_icon_left {
}


.col-xs-1.history {
  margin-top: 5%;
}
