
//SHARING PAGE STYLES


#title_share{
  margin-top: 8%;
}

#motivation_text {
  width: 70%;
  text-align: center;
  margin-left: 14%;
  margin-top: 6%;
  font-size: 3vw;
  line-height: 4.5vw;
}

.motivation_tree {
  margin-left: 20%;
  margin-top: -25%;
}
